@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {

font-size: 2em;
}
.fa-1x {
font-size: 0.5em;
width:60px;
height:36px;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 56px;
text-align: center;
vertical-align: middle;
font-size:20px;
}

/***
.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}
***/

.main-menu {
background: linear-gradient(#ff33ff,#ff99ff,#ff33ff);
position:fixed;
top:0;
bottom:0;
margin-top:4.3rem;
height:51rem;
border-radius:5px;
margin-left:1rem;
width:70px;
height: 820px;

z-index:1000;
overflow-y:auto;
overflow-x:hidden;

}

.main-menu:after {
	content: '';
	position: fixed;
	z-index:1000;
	top: 0;
	left: 0%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-bottom-color: #ff33ff;
	border-top: 0;
	margin-left: 26px;
	margin-top: 58px;
}



.ss{
position: relative;
display: table-cell;
width: 60px;
height: 56px;
text-align: center;
vertical-align: middle;
font-size:15px;
}





.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:70px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:white;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
font-size:18px;
}
.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

/***
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
***/
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


########################################



.CONTENT_STYLE {
    margin-left: 10rem;
    margin-right: 0rem;
    margin-top:10rem;
    padding:0;
    
}

.styling1{
	
         height:18rem;
	 position:relative;
	 color:white;
 	 
        }

.styling2{
        height:20vh;
	width:20vw;
	position:relative;
       }

.styling3{
	
         height:20vh; 
  	 width:20vw;
 	position:relative;
        }

.styling4{	
         height:20vh;
 	 width:20vw;
	 position:relative;    
        }

.card-setting{
	     
	     margin-top:2rem;
	     margin-left:4.5rem;
             position:relative;
           }



#styling5{
	color:white;
	border:#3d3d5c;
 	margin-left:6.5rem;
	margin-top:5rem;
	background:#3d3d5c;
}
.ch{

}

@media screen and (max-width:500px){
#styling5{
	margin-left:0rem;
	}
.card-setting{
	     
	     margin-top:0.5rem;
	     margin-left:0rem;
     
           }
}


.back-g{
	background:black;
	margin-right:0rem;
	height:100vh;
	overflow-x:hidden;	
}

.card-style{
	 background:#3d3d5c;
	 color:white;
}
.main-content{
	margin-left:0rem;	
}

.navstyle{
	position:relative;
	width:100%;
}
.logo{
    height:40px;
    width:40px;
    margin-left:1rem;
    margin-top:0rem;
    z-index:1000;
    background:white;
    border-radius:50px;

}
.main_logo{
    height:40px;
    width:50px;
    margin-left:10rem;
    margin-top:0rem;
    z-index:1000;

}

.logo1{
    height:30px;
    width:30px;
    margin-left:1.5rem;
    margin-top:-11.5rem;
    z-index:1;

}

.logo2{
    height:20%;
    width:15%;
    margin-left:80%;
    margin-bottom:-5rem;
}
.logo3{
    height:20px;
    width:20px;
    margin-left:1.5rem;
    margin-top:-10.5rem;
    z-index:1;
}

.logo5{
    height:20px;
    width:20px;
    margin-left:1.5rem;
    margin-top:3rem;
    z-index:1;

}

.logo4{

    z-index:-1;
}
.img-style{
	height:6vh;
	width:5vw;
	margin-top:-4.5rem;
	margin-bottom:-3rem;
	border:multiply none;
	
}


.drop-style{
	margin-left:5rem;
	width:45vw;
}

.side-style{
	height:2px;
	width:2px;
}

.text-set{
	margin-bottom:5px;
	margin-top:-10px;
	
}

.footer-icon{
	margin-bottom:60px;
	
}
@media screen and (max-width:768px){
	.drop-style{
		  width:100%;
		  margin-right:0.5rem;
		  margin-left:0rem;
		  margin-top:0.5rem;
		}
	.img-style{
		height:7vh;
		width:11vw;
		
		}
}
.filter_style
	{
	margin-left:4rem;
	margin-top:-5rem;
	margin-bottom:-10rem;
	z-index:100;
	position:fixed;
	width:80%;
	height:100rem;
	
}

.well {
	margin-left:0rem;
	margin-top:0rem;
}

.first_inner_collapse
{
	margin-left:0rem;
	


}
.second_inner_collapse{
	margin-left:8rem;
	margin-top:-7.5rem;
	
	

}
.third_inner_collapse{
	margin-left:13rem;
	margin-top:-7.5em;
	

}
.fourth_inner_collapse{
	margin-left:18rem;
	margin-top:-7.5rem;
	

}
.fifth_inner_collapse{
	margin-left:25rem;
	margin-top:-7.5rem;
	

}
.sixth_inner_collapse{
	margin-left:31rem;
	margin-top:-7.5rem;

}

@media screen and (max-width:880px){
	.sixth_inner_collapse{
		margin-left:0rem;
		margin-top:1rem;
	}
	

}

@media screen and (max-width:770px){
	.fifth_inner_collapse{
		margin-left:7rem;
		margin-top:2rem;
	}
	.sixth_inner_collapse{
		margin-left:0rem;
		margin-top:-7.5rem;
	}

}
@media screen and (max-width:640px){
	.fourth_inner_collapse{
		margin-left:0rem;
		margin-top:1rem;
	}
	.fifth_inner_collapse{
		margin-left:7rem;
		margin-top:-7.5rem;
	}
	.sixth_inner_collapse{
		margin-left:0rem;
		margin-top:-7.5rem;
	}

}

@media screen and (max-width:640px){
	.filter_style
	{
	margin-left:-2rem;
	margin-top:-5rem;
	z-index:100;
	position:fixed;
	width:100%;
	height:100rem;
	
}

}

#checkout label:nth-child(1) {
  color: rgba(0,0,0,0);
  margin-left:10px;
  margin-top:45px;
  

}

#checkout label:nth-child(2) {
  color: rgba(0,0,0,0);
  margin-top:100px;
  margin-left:-50px;

}

#checkout label:nth-child(3) {
  color: rgba(0,0,0,0);
  margin-top:120px;
  margin-left:-50px;



}

#checkout label:nth-child(4) {
  color: rgba(0,0,0,0);
  margin-top:170px;
  margin-left:-50px;

 

}
#checkout label:nth-child(5) {
  color: rgba(0,0,0,0);
  margin-top:220px;
  margin-left:-50px;
  z-index:-1;
	
 

}

#checkout > div {
  display: flex;
}

.filter_dealer{
	margin-top:200px;
	margin-left:50px;
	

}

.text-cross{
	margin-left:30rem;
}


.ae{
 	color:#ff33ff;
	display:none;
}

.show:hover  + .ae{
	display:block;

	margin-top:-1.5rem;
	margin-left:4.3rem;
	margin-bottom:-40px;
	font-size:13px;
	
   }

.az{

	display:none;
}
.ab{
	display:none;
	
}
.dz{
	display:none;
	
}
.fp{
	display:none;
}
.first{
	color:#ff33ff;
}
.second{
	color:white;
	margin-top:-0.7rem;

}
.third{
	color:gold;
	margin-top:-0.7rem;
	
}
.fourth{
	color:orange;
	margin-top:-0.7rem;
	
}
.fifth{
	color:green;
	margin-top:-0.7rem;
}
.two:hover + .az{

	display:block;
	margin-top:-3rem;
	margin-left:4.3rem;
	font-size:13px;
	margin-bottom:-60px;

   }
.three:hover + .ab{

	display:block;
	margin-top:-4.3rem;
	margin-left:4.3rem;
	font-size:13px;
	margin-bottom:-60px;

   }

.four:hover + .dz{

	display:block;
	margin-top:-5.7rem;
	margin-left:4.3rem;
	font-size:13px;
	margin-bottom:-60px;

  }

.five:hover + .fp{

	display:block;
	margin-top:-6.9rem;
	margin-left:4.3rem;
	font-size:13px;
	margin-bottom:-60px;

  }
::-webkit-scrollbar { 
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(red, yellow)
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(red, yellow)
}